@inject Blazored.LocalStorage.ILocalStorageService storage
@inject NavigationManager manager
@using MongoDB.Driver

<div class="row" style="background-color:antiquewhite; margin-bottom:10px;">
    <div class="col">
        <p class="text-left">s @SerialSeason ep @SeriesNumber</p>
    </div>
    <div class="col">
        <p class="text-left">@SeriesName</p>
    </div>
    <div class="col">
        <p class="text-right">
            @if (IsUserLogged)
            {
                <input type="checkbox" @onchange="FromBlazorToDB" />
            }
        </p>
    </div>
</div>




@code {
    [Parameter] public UserSeries UserSeries { get; set; }
    public bool IsUserLogged { get; set; }
    public string UserLogin { get; set; }
    public string UserPassword { get; set; }
    public string SerialIsSelected { get; set; }


    [Parameter] public string UserSeriesLogin { get; set; }
    [Parameter] public string UserSeriesPassword { get; set; }
    [Parameter] public string SerialName { get; set; }
    [Parameter] public int SerialSeason { get; set; }
    [Parameter] public int SeriesNumber { get; set; }
    [Parameter] public string SeriesName { get; set; }

    protected override async Task OnInitializedAsync()
    {
        //await storage.SetItemAsync<bool>("IsUserLogged", false);
        IsUserLogged = await storage.GetItemAsync<bool>("IsUserLogged");
        UserLogin = await storage.GetItemAsync<string>("UserLogin");
        UserPassword = await storage.GetItemAsync<string>("UserPassword");
        await storage.SetItemAsync<string>("SerialIsSelected", SerialName);
    }

    private void FromBlazorToDB()
    {
        var connectionString = "mongodb://localhost";
        var client = new MongoClient(connectionString);
        var db = client.GetDatabase("TV_Shows");
        var collection = db.GetCollection<UserSeries>("UserSeries");

        if (collection.Find(x => x.UserSeriesLogin == UserLogin && x.UserSeriesPassword == UserPassword &&
                    x.SerialName == SerialName && x.SerialSeason == SerialSeason &&
                    x.SeriesNumber == SeriesNumber && x.SeriesName == SeriesName).CountDocuments() == 0)
        {
            UserSeries.AddUserSeriesToDb(new UserSeries(UserLogin, UserPassword, SerialName, SerialSeason,
                SeriesNumber, SeriesName));
        }
    }
}