@page "/SerialPage"


<div class="container" style="margin-left: auto; margin-right: auto; background-color: red;">
    <div class="row">
        <div class="col" style="margin-left: auto; height: 600px; width: 600px;">
            <img src="/got.jpg" class="card-img-top" alt="Game of Thrones">
        </div>
        <div class="col" style="margin-right: auto; height: 600px; width: 600px;">
            <h1>Game of Thrones</h1>
            <p>Year: </p>
            <p>Seasons: </p>
        </div>
    </div>
</div>

<br />

<div class="container" style="margin-left: auto; margin-right: auto; background-color: aqua;">
    <p class="text-body">fshfilsfhasfeihuesflauihf</p>
</div>
    
    



@code {
    
}
