<div class="table-responsive">
    <table class="table" table-striped>
        <thead class="thead-light">
            <tr>
                <th>Serial Name</th>
                <th>Count of Seasons</th>
                <th>Year</th>
                <th>Add Serial To Your Checklist <input type="checkbox" @bind="displayButtons" /></th>
            </tr>
        </thead>
        <tbody>
            @if (Serials == null)
            {
                <tr>LOADING DATA...</tr>
            }
            else if (Serials.Count == 0)
            {
                <tr>No items in array</tr>
            }
            else
            {
                @foreach (var item in Serials)
                {
                    <AllSerials Serials="item" IsTable="true" DisplayButtons="displayButtons"/>
                }
            }

        </tbody>
    </table>
</div>



@code {
    [Parameter] public List<Serials> Serials { get; set; }


    bool displayButtons = false;


}
