@page "/SerialPage"


<div class="container" style="margin-left: auto; margin-right: auto; top: 300px; height: 400px; background-color: red;">
    <div class="row">
        <div class="col" style="margin-left: auto; top: 15px;">
            <img src="/got.jpg" class="card-img-top" alt="Game of Thrones">
        </div>
        <div class="col" style="margin-right: auto; top: 15px;">
            <p>Game of Thrones</p>
            <p>Year:</p>
            <p>Seasons: </p>
        </div>
    </div>
</div>

<br />

<div class="container" style="margin-left: auto; margin-right: auto; top: 300px; background-color: aqua;">
    <div class="table-responsive">
        <table class="table" table-striped>
            <thead class="thead-light">
                
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </div>
</div>
    




@code {
    List<Serials> serial;

    protected override async Task OnInitializedAsync()
    {
        //serial = new List<Serials>()
        //{
        //        new Serials()
        //        {
        //            SerialName = "Game of Thrones",
        //            SerialSeason = 1,
        //            SerieslNumber = 1,
        //            SerieslName = "Winter is Coming"
        //        },
        //};
    }
}
