@page "/SerialPage"


<div class="container" style="margin-left: auto; margin-right: auto; top: 300px; height: 400px; background-color: red;">
    <div class="row">
        <div class="col" style="margin-left: auto; top: 15px;">
            <img src="/got.jpg" class="card-img-top" alt="Game of Thrones">
        </div>
        <div class="col" style="margin-right: auto; top: 15px;">
            <p>Game of Thrones</p>
            <p>Year:</p>
            <p>Seasons: </p>
        </div>
    </div>
</div>

<br />

<div class="container" style="margin-left: auto; margin-right: auto; top: 300px; background-color: aqua;">
    <div class="table-responsive">
        <table class="table" table-striped>
            <thead class="thead-light">
                
            </thead>
            <tbody>
                <tr>
                    <td>@GoT.SerialSeason</td>
                    <td>@GoT.SerieslNumber</td>
                    <td>@GoT.SerieslName</td>
                    <td>
                        <input type="checkbox" @onchange="FromBlazorToDBToSerial" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
    
@*<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Dropdown button
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
</div>*@




@code {
    [Parameter] public GoT GoT { get; set; }
    List<GoT> got;

   

    private void FromBlazorToDBToSerial()
    {
        GoT.AddSeriesToDb(new GoT(GoT.SerialSeason, GoT.SerieslNumber, GoT.SerieslName));
    }
}
